# Virtual Environment
env/

# Python Bytecode
__pycache__/
*.pyc

# Django specific files
*.log
db.sqlite3

# Environment variables
.env

# IDE and editor config files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Static files
staticfiles/

# OS-specific
.DS_Store

catcollector/main_app/migrations/